@page
@using Library
@using Microsoft.AspNetCore.Http.Extensions
@using VideoGallery.Interfaces
@using VideoGallery.Library.Parsing
@using Website.Shared
@model VideoGridModel
@{
    ViewData["Title"] = "Video grid";
}

<div>
    @foreach (var customQuery in Model.CustomQueries)
    {
        <a class="btn btn-primary btn-sm" href="@Url.Page("./Index", customQuery.Spec)">
            @customQuery.Label
            @if (!customQuery.IsDefaultQuery)
            {
            <form asp-page-handler="DeleteQuery" method="post" class="d-inline" asp-route-returnUrl="@Request.GetEncodedPathAndQuery()">
                <input type="hidden" name="queryName" value="@customQuery.Label"/>
                <button type="submit" class="badge rounded-pill text-bg-danger">x</button>
            </form>
            }
        </a>
    }
</div>
<div class="text-center">
    <form method="get" class="row my-3 g-3">
        <div class="col-9">
            <label for="Search" class="visually-hidden">Search</label>
            <input id="Search" type="text" asp-for="Search" class="form-control" placeholder="Search" tabindex="0" />
        </div>
        <input type="hidden" asp-for="SortField"></input>
        <input type="hidden" asp-for="SortType"></input>
        @Html.AntiForgeryToken()
        <button type="submit" class="col-1 btn btn-primary" tabindex="0">Search</button>
        <div class="input-group col-2">
            <input type="text" class="form-control" name="queryName" placeholder="Query name" />
            <button type="submit" formmethod="post" asp-page-handler="SaveQuery" class="btn btn-danger" asp-route-returnUrl="@Request.GetEncodedPathAndQuery()">Save query</button>
        </div>
    </form>
    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @Model.ErrorMessage
        </div>
    }
    <p class="fs-6">Found @Model.Videos.Length out of @Model.TotalVideosCount</p>
    <table class="table table-borderless">
        <thead class="sticky-top">
        <tr>
            <th scope="col">
                Filename
                <a asp-page="./Index"
                   asp-route-Search="@Model.Search"
                   asp-route-SortType="@(Model.SortField == nameof(Video.Filename) ? Model.SortType.Next() : SortingType.Ascending)"
                   asp-route-SortField="@nameof(Video.Filename)">
                   <partial name="_SortingTypeIcon" model="Model.SortField == nameof(Video.Filename) ? Model.SortType : SortingType.None" />
                </a>
            </th>
            <th scope="col">Duration
                <a asp-page="./Index"
                   asp-route-Search="@Model.Search"
                   asp-route-SortType="@(Model.SortField == nameof(Video.Duration) ? Model.SortType.Next() : SortingType.Ascending)"
                   asp-route-SortField="@nameof(Video.Duration)">
                    <partial name="_SortingTypeIcon" model="Model.SortField == nameof(Video.Duration) ? Model.SortType : SortingType.None" />
                </a>
            </th>
            <th scope="col"># seqs</th>
            <th scope="col">Tags</th>
            <th scope="col">Comments
                <a asp-page="./Index"
                   asp-route-Search="@Model.Search"
                   asp-route-SortType="@(Model.SortField == nameof(Video.Comments) ? Model.SortType.Next() : SortingType.Ascending)"
                   asp-route-SortField="@nameof(Video.Comments)">
                    <partial name="_SortingTypeIcon" model="Model.SortField == nameof(Video.Comments) ? Model.SortType : SortingType.None" />
                </a>
            </th>
            <th scope="col">View date
                <a asp-page="./Index"
                   asp-route-Search="@Model.Search"
                   asp-route-SortType="@(Model.SortField == nameof(VideoExtensions.LastViewDate) ? Model.SortType.Next() : Model.SortType)"
                   asp-route-SortField="@nameof(VideoExtensions.LastViewDate)">
                   <partial name="_SortingTypeIcon" model="Model.SortField == nameof(VideoExtensions.LastViewDate) ? Model.SortType : SortingType.None" />
                </a>
            </th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var video in Model.Videos)
        {
            <tr><td class="text-start bg-primary-subtle" colspan="14"><a asp-page="/VideoDetail/Index" asp-route-id="@video.Id" tabindex="2">@video.Filename</a></td></tr>
            <tr>
                <td>
                    <p title="@video.Filename">
                        <a href="/api/video/@video.Filename" target="_blank"><img src="/api/thumb/@video.Filename" alt="Thumbnail" onerror='this.style.display = "none"' /></a>
                    </p>
                </td>
                <td>@($@"{video.Duration:hh\:mm\:ss}")</td>
                <td>
                    <form asp-page-handler="EditVideoNumSequences" method="post" asp-route-returnUrl="@Request.GetEncodedPathAndQuery()">
                        <input type="hidden" name="videoId" value="@video.Id"/>
                        <input type="number" class="form-control" value="@video.NumSequences" name="numsequences">
                    </form>
                </td>
                <td>
                    @await Html.PartialAsync("_VideoTagsEditor", new VideoTags(video.Id, video.Tags.ToArray(), Model.AllTags))
                </td>
                <td>@video.Comments</td>
                <td>
                    <form asp-page-handler="WatchVideo" method="post" asp-route-returnUrl="@Request.GetEncodedPathAndQuery()">
                        <div class="input-group">
                            @if (video.LastViewDate() != null)
                            {
                                <div class="input-group-text bg-success-subtle">@video.LastViewDate()?.ToString("yyyy-MM-dd")</div>
                            }
                            else if (video.Watches.Any())
                            {
                                <div class="input-group-text bg-success-subtle">W</div>
                            }
                            <input type="date" class="form-control" name="newDate" value="@DateOnly.FromDateTime(DateTime.Now.AddHours(-22)).ToString("O")"/>
                            <input type="hidden" name="videoId" value="@video.Id"/>
                            <button type="submit" class="btn btn-primary">Watch</button>
                        </div>
                    </form>
                </td>
                <td>
                    <form asp-page-handler="DeleteVideo" method="post" asp-route-returnUrl="@Request.GetEncodedPathAndQuery()">
                        <input type="hidden" name="videoId" value="@video.Id"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>