@page
@model TagsModel
@{
    ViewData["Title"] = "Tags";
}
<div>
    <form asp-page-handler="CreateCategory" method="post" class="row my-3 g-3">
        <div class="col-1">
            <label for="categoryCode" class="visually-hidden">Code</label>
            <input type="text" id="categoryCode" placeholder="Code" class="form-control" />
        </div>
        <div class="col-2">
            <label for="categoryName" class="visually-hidden">Name</label>
            <input type="text" id="categoryName" placeholder="Name" class="form-control" />
        </div>
        <div class="col-1">
            <label for="foregroundColor" class="form-label">Foreground</label>
            <input type="color" id="foregroundColor" class="form-control form-control-color" value="#ffffff" />
        </div>
        <div class="col-1">
            <label for="backgroundColor" class="form-label">Background</label>
            <input type="color" id="backgroundColor" class="form-control form-control-color" value="#ff0000" />
        </div>
        <button type="submit" class="col-1 btn btn-primary">Create category</button>
    </form>
    @foreach (var categoryGroup in Model.TagDetails.GroupBy(t => t.Category.Code))
    {
        <h1>@categoryGroup.First().Category.Name 
            <form>
                <input type="hidden" name="categoryId" value="@categoryGroup.First().Category.Code" />
                <button type="submit" class="badge btn btn-danger">x</button>
            </form>
        </h1>
        <form asp-page-handler="CreateTag" method="post" class="row my-3 g-3">
            <div class="col-2">
                <label for="tagName" class="visually-hidden">Name</label>
                <input type="text" id="tagName" placeholder="Tag name" class="form-control" />
            </div>
            <button type="submit" class="col-1 btn btn-primary">Create tag</button>
        </form>
        <div class="d-flex flex-row justify-content-center flex-wrap gap-3">
        @foreach (var tag in categoryGroup.OrderBy(t => t.Tag.Name))
        {
            <div class="block rounded-lg bg-white shadow-lg dark:bg-neutral-700 text-center">
                <h2 style="color: @tag.Category.ForegroundColor.CssName; background-color: @tag.Category.BackgroundColor.CssName">@tag.Tag.Name 
                </h2>
                <p class="fw-bold">Videos: <a asp-page="/VideoGrid/Index" asp-route-search="@tag.Tag.Name">@tag.VideosCount videos</a></p>
                <form asp-page-handler="RenameTag" class="row my-3 g-3">
                    <div>
                        <label for="newTagText" class="visually-hidden">Name</label>
                        <input type="text" id="newTagText" value="@tag.Tag.TagText" placeholder="Name" class="form-control" />
                    </div>
                    <input type="hidden" name="tagId" value="@tag.Tag.Id" />
                    <button type="submit" class="btn btn-primary">Rename</button>
                </form>
            </div>
        }
        </div>
    }
</div>